body
{
    width: 50%;
    margin: auto;
    font-family: sans-serif;
    line-height: 1.5;
    color: white;
    background-color: black;
}
mImage
{
    padding: 50px 60px;
    width: 29%;
    margin-top: 20px;
    border-radius: 10px;

}

mTitle
{
    color: red;
}

main
{
    color: white;
    line-height: 0.5;
}